 :root {
   --color-primary: #434455;
   --color-white: #ffffff;
   --color-navyblue: #2E2F42;
   --color-iris: #4D5AE5;
   --color-ocean: #404BBF;
   --color-cloud: #F4F4FD;
   --color-conflover: #E7E9FC;
 }
 
 body{
    color: var(--color-primary);
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
 }

 .header {
    color: var(--color-navyblue);  
 }

.logo-link {
    color: var(--color-iris);
    font-family: Raleway, sans-serif; 
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;
        letter-spacing: 0.03em;
      text-decoration: none;
      text-transform: uppercase;
  }
.logo-link .logo-span:focus {
   color: var(--color-ocean);
}

.logo-span{
color: var(--color-navyblue);
 }
.ul{
   list-style-type: none;
}
.header-link {
   color: var(--color-navyblue);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;   
   text-decoration: none;
 }
.header-link:hover, .header-link:focus {
color: var(--color-ocean);
}

.address-link {
   color: var(--color-primary);
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-decoration: none;
   font-style: normal;
    
 }
.address-link:hover, .address-link:focus {
color: var(--color-ocean);
}

.section-one{
background-color: var(--color-navyblue);
}

.hero-title {
color: var(--color-white);
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
}


.button-main { 
color: var(--color-white);
background-color: var(--color-iris);
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
}
.button-main:hover, .button-main:focus {
   background-color: var(--color-ocean);
}
.visually-hidden {
position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
.card{
   text-decoration: none;
}

.header-three {
color: var(--color-navyblue);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.header-description{
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
}

.header-we-doing, .header-our-team{
   color: var(--color-navyblue);
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
}

.section-four{
background-color: var(--color-cloud);
}

.name {
   color: var(--color-navyblue);
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
}
.profesion{
   color: var(--color-primary);
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.desctibe-team {
   background-color: var(--color-white);
}
.footer {
   background-color: var(--color-navyblue);
}
.span-logo-footer {
   color: var(--color-cloud);
}
.text-footer { 
   color: var(--color-conflover);
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.portfolio-button {
   color: var(--color-iris);
   background-color: var(--color-cloud);
   border: var(--color-conflover);  
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
}
.portfolio-button:hover, .portfolio-button:focus{
   color: var(--color-white);
   background-color: var(--color-ocean);
}

.name-project {
color: var(--color-navyblue);
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}
.branch {
   color: var(--color-primary);
   line-height: 1.5;
   letter-spacing: 0.02em;
}